*{
    margin: 0;
    padding: 0;
   font-family: "Inter", sans-serif;
}
.topbar{
background-color: #000 !important;

}
.nav-link{
    color: #fff !important;
    font-size: 15px !important;
}
html{
    scroll-behavior:smooth;
}
/* 
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color:#fff;
} */

#banner-parent{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 20px;
}
#banner-parent .box-content{
   
    padding: 10px;
    
}
.box-content h1{
    font-size: 52px;
    font-weight: bold;
    color: #000;
     margin-bottom: 30px;
}
.sub-content {
    font-size: 15px;
}
.form{
   color: #ffffffca;
    margin: 20px 0;
}

.form-field{
padding: 10px 20px;
display: block;
width: 80%;
}

.btn-detail{
  padding: 10px 15px;  
  font-size: 16px;
  border-radius: 8px;
}

#btn-black{
    background-color: #000;
    color: #fff;
}

#btn-light{
    background-color: #ffffffca;
    color: black;
}
section{
    margin: 50px 0;
}

/* #sug-section{
   
} */

#sug-section h1{
font-size: 36px;
font-weight: 700;
 font-family: "Open Sans", sans-serif;
}

#parent{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}
.card{
    background-color: rgba(146, 140, 131, 0.898);
    height: auto;
    border-radius: 8px;
}
.card h4{
    font-size: 16px;
    font-weight: bold;
}
.card p{
font-size: 13px;
}
.card button{
display: start;
width: 20%;
border-radius: 20px;
padding: 5px 7px;
font-size: 13px;
background-color: #fff;
color: #000;
border: none;
}

.adv-section h1{
    font-size: 36px;
font-weight: 700;
line-height: 40px;
 font-family: "Open Sans", sans-serif;
}
.sec-heading{
    font-size: 32px;
font-weight: bold;
line-height: 40px;
 font-family: "Open Sans", sans-serif;
}
.adv-parent{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.adv-child{
   display: grid; 
   grid-template-rows: auto auto;
   
}
.adv-img{
width: 100%;
}
.adv-content{
padding: 20px;
}
.adv-content h3{
    font-size: 18px;
}
.adv-content p{
    font-size: 15px;
}
.adv-content button{
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 15px;
    font-weight: 600;
}